<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WVA Tools</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .grid-cell {
        width: 100px;
        height: 100px;
      }
    </style>
    <!-- jQuery 라이브러리 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Socket.IO 라이브러리 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  </head>

  <body class="bg-gray-50 text-gray-900 font-sans">
    <!--Header navigation bar-->
    <header class="bg-white shadow shadow-lg relative">
      <nav
        class="container mx-auto px-6 py-3 flex justify-between items-center"
      >
        <!--WVA logo-->
        <a href="/" class="text-3xl font-bold text-lime-600">WVA</a>

        <!--Go to site buttons-->
        <div class="space-x-4">
          <a
            href="{{ url_for('input_tag_bp.input_tag') }}"
            class="text-lime-600 font-bold"
            >Site-Info Crawl</a
          >
          <a
            href="{{ url_for('directory_bp.directory') }}"
            class="text-gray-500 hover:text-lime-600 font-bold"
            >File Vulnerability</a
          >
          <a
            href="/SQL_Payload"
            class="text-gray-500 hover:text-lime-600 font-bold"
            >Sql Injection</a
          >
          <a
            href="{{ url_for('XSS_Bypass_bp.XSS') }}"
            class="text-gray-500 hover:text-lime-600 font-bold"
            >XSS[B]</a
          >
          <a href="xss-p" class="text-gray-500 hover:text-lime-600 font-bold"
            >XSS[P]</a
          >
        </div>
      </nav>
    </header>

    <h1>SQL Injection Test</h1>
    <form action="/SQL" method="post">
      <label for="url">URL:</label>
      <input type="text" id="url" name="url" required /><br /><br />

      <label for="params">Parameters:</label>
      <input type="text" id="params" name="params" required /><br /><br />

      <label for="request_method">Request Method:</label>
      <select id="request_method" name="request_method">
        <option value="GET">GET</option>
        <option value="POST">POST</option></select
      ><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
