<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WVA Tools</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .grid-cell {
        width: 100px;
        height: 100px;
      }
    </style>
  </head>
  <body class="bg-gray-50 text-gray-900 font-sans">
    <header class="bg-white shadow">
      <nav
        class="container mx-auto px-6 py-3 flex justify-between items-center"
      >
        <a href="/" class="text-3xl font-bold text-blue-600">WVA</a>
        <div class="space-x-4">
          <a
            href=""
            class="text-gray-500 hover:text-blue-600 font-bold"
            >Input Tag Crawl</a
          >
          <a
            href=""
            class="text-gray-500 hover:text-blue-600 font-bold"
            >Comments Crawl</a
          >
          <a
            href="/method-check"
            class="text-gray-500 hover:text-blue-600 font-bold"
            >Method Check</a
          >
          <a
            href="/directory-listing"
            class="text-gray-500 hover:text-blue-600 font-bold"
            >Directory Listing</a
          >
          <a
            href="/sql-injection"
            class="text-gray-500 hover:text-blue-600 font-bold"
            >Sql Injection</a
          >
          <a href="{{ url_for('XSS_Bypass_bp.XSS') }}" class="text-blue-600 font-bold"
            >XSS</a
          >
        </div>
      </nav>
    </header>
    <h1 class="font-bold text-blue-600 text-3xl flex justify-center m-5">
      XSS Vulnerability Check
    </h1>
    <p class="flex justify-center text-gray-500 m-5 text-center">
      It Needs Payload and Parameter
    </p>
    <div class="flex justify-center w-screeen">
      <form method="post" action="{{ url_for('XSS_Bypass_bp.XSS') }}">
        <label for="url" class="my-5 font-bold">Enter URL:</label>
        <div class="relative box-border mt-5 mb-2">
          <input
            class="font-bold border-b-4 border-blue-600 w-96 h-8 rounded-full outline-0 bg-gray-200 px-5"
            type="text"
            id="url"
            name="url"
            
          />
        </div>
        <!-- <label for="cookies_name1" class="my-5 font-bold">Enter cookies_name:</label>
        <div class="relative box-border mt-5 mb-2">
          <input
            class="font-bold border-b-4 border-blue-600 w-96 h-8 rounded-full outline-0 bg-gray-200 px-5"
            type="text"
            id="cookies_name1"
            name="cookies_name1"
            
          />
        </div>
        <label for="cookies_value1" class="my-5 font-bold">Enter cookies_value:</label>
        <div class="relative box-border mt-5 mb-2">
          <input
            class="font-bold border-b-4 border-blue-600 w-96 h-8 rounded-full outline-0 bg-gray-200 px-5"
            type="text"
            id="cookies_value1"
            name="cookies_value1"
            
          />
        </div>
        <label for="cookies_name2" class="my-5 font-bold">Enter cookies_name:</label>
        <div class="relative box-border mt-5 mb-2">
          <input
            class="font-bold border-b-4 border-blue-600 w-96 h-8 rounded-full outline-0 bg-gray-200 px-5"
            type="text"
            id="cookies_name2"
            name="cookies_name2"
            
          />
        </div>
        <label for="cookies_value2" class="my-5 font-bold">Enter cookies_value:</label>
        <div class="relative box-border mt-5 mb-2">
          <input
            class="font-bold border-b-4 border-blue-600 w-96 h-8 rounded-full outline-0 bg-gray-200 px-5"
            type="text"
            id="cookies_value2"
            name="cookies_value2"
            
          />
        </div> -->
        <label for="params" class="my-5 font-bold">Enter Parameter:</label>
        <div class="relative box-border mt-5 mb-2">
          <input
            class="font-bold border-b-4 border-blue-600 w-96 h-8 rounded-full outline-0 bg-gray-200 px-5"
            type="text"
            id="params"
            name="params"
            required
          />
        </div>
        <button
          type="submit"
          class="mb-4 bg-blue-600 font-bold text-gray-100 px-4 py-2 rounded-full hover:shadow hover:shadow-black"
        >
          Submit
        </button>
    
  </body>
</html>